@use "sass:color";
@use "../../styles/global.scss" as *;

.settings-main{
    @extend %flex-hv-center;
    justify-content: start;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    padding: 8px;
    width: 100%;
    overflow-y: scroll;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: linear-gradient(#686894, #46466c);
        border-radius: 50px;
    }
    &::-webkit-scrollbar-thumb:active {
        background: linear-gradient(#7c7ca5, #61618f);
    }

    .dashed-hr{
        $color:#66666655;
        height: 1px;
        width: auto;
        background-image: linear-gradient(to right, $color 0%, $color 60%, transparent 50%);
        background-size: 10px 100%;
        background-repeat: repeat-x;
        margin: 10px 5px;
    }

    $expandBgColor:#f6f6f6;
    .setting-item{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transition: 0.3s;
        background-color: transparent;
        align-items: center;
        padding: 0 20px;
        min-height: 50px;
        border-radius: 5px;

        &.expand{
            flex-direction: column;
        }
        &.show{
            background-color: $expandBgColor;
        }

        .show-main{
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            min-height: 50px;
        }

        .setting-name{
            color: color.mix($textColor1,#ffffffaa,80%);
            font-size: 14px;
        }

        .icon-btn{
            transition: 0.2s;
            color: color.mix($themeColor,#000000aa,80%);
            margin: 0 0 0 8px;
            font-size: 19px;

            &:hover{
                color: color.mix($themeColor,#ffffffaa,80%);
            }
        }
    }

    .part-title{
        width: 100%;
        height: auto;
        color: $textColor1;
        font-size: 18px;
        padding: 8px;
        font-weight: bold;

        .icon{
            color: $textColor1;
            margin: 0 3px;
        }
    }

    .expand-icon{
        color: $themeColor;
        margin-left: 10px;
        transition: 0.2s;

        &:hover{
            transform: scale(1.03);
            color: color.mix($themeColor,#ffffff,90%);
        }

        &.on-expand{
            transform: rotate(90deg);
        }
    }

    .save-btn{
        @extend %flex-hv-center;
        padding: 6px 13px;
        font-size: 14px;
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid $themeColor;
        transition: 0.2s;
        color: color.mix($themeColor,#000,80%);

        &:hover{
            background-color: color.mix($themeColor,#fff,30%);
        }
        &:active{
            transform: scale(0.97);
            background-color: color.mix($themeColor,#fff,40%);
        }
    }

    .mem-expand-main{
        // $borderRadius:5px;
        @extend %flex-hv-center;
        // background: linear-gradient(to bottom,#fff,#f6f6f6);
        justify-content: center;
        flex-direction: row;
        width: 100%;
        height: 0;
        // border-bottom-left-radius: $borderRadius;
        // border-bottom-right-radius: $borderRadius;
        transition: 0.3s;

        &.show{
            height: 50px;
        }
    }
}